
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-190599-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

</script>

</head>

<body>
<div class="wrapper">
@RenderPage("~/Views/Navigation/header.cshtml")
@RenderPage("~/Views/Navigation/Sidebar.cshtml")

<div class="mainbody">
<div id="facebook_badge"><a href="http://en-gb.facebook.com/neilhighley" target="_TOP" title="Neil Highley"><img src="http://badge.facebook.com/badge/633736364.1502.476234097.png" style="border: 0px;" /></a></div>

@RenderBody()
</div>
<div class="push"></div>

</div>
@RenderPage("~/Views/Navigation/Footer.cshtml")

</body>
</html>
